@model IEnumerable<Mooshak2.Models.Entities.Users>

@{
    ViewBag.Title = "Index";
}

<h2>All users:</h2>
<table class="table table-hover">
    <caption> A list of users</caption>
    <thead>
        <tr>
            <th>Username:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@item.username*@
                    @Html.ActionLink(item.username, "UserDetails", new { userID = item.userID})
                </td>
            </tr>
        }
    </tbody>
</table>
