@model ICollection<Mooshak2.Models.ViewModel.UserViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>All users:</h2>
<table class="table table-hover">
    <caption> A list of users</caption>
    <thead>
        <tr>
            <th>Username:</th>
        </tr>
    </thead>
    <tbody>
         @if (Model != null)
         {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.username, "UserDetails", new { userID = item.userID })
                    </td>
                </tr>
            }
         }
    </tbody>
</table>
